services:
  dev:
    build: .
    profiles:
      - dev
    volumes:
      - .:/app
      - ~/.ssh:/tmp/ssh:ro
    command: sh -c "mkdir -p /root/.ssh && cp -r /tmp/ssh/* /root/.ssh && chmod 700 /root/.ssh && chmod 600 /root/.ssh/* && git config --global --add safe.directory /app && tail -f /dev/null"
    working_dir: /app

# Usage:

#  Build and start the container with the dev profile
#    docker compose --profile dev up -d
#
#  Attach to the running container
#    docker compose exec dev /bin/sh
#
#  When done, stop the container
#    docker compose --profile dev down
