services:
  dev:
    build: .
    profiles:
      - dev
    volumes:
      - .:/app
    command: tail -f /dev/null
    working_dir: /app

# Usage:

#  Build and start the container with the dev profile
#    docker compose --profile dev up -d
#
#  Attach to the running container
#    docker compose exec dev /bin/sh
#
#  When done, stop the container
#    docker compose --profile dev down
